<header>
  <%= link_to logo, root_path %>
  <%= link_to banner, root_path %>
  
  <nav id="aux" class="round">
    <ul>
      <li><%= link_to "Sign out", "#" %></li>
      <li><%= link_to "I18n", "#" %></li>
    </ul>
  </nav>

  <nav id="main" class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</header>
